* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after,
.row::after {
    content: '';
    display: table;
    clear: both;
}

.flex{
    display: flex;
}

.row {
    max-width: 1170px;
    margin: 0 auto;
    /* DA CANCELLARE */
    height: 100px;
}

.row .row {
    padding: 5px;
}

.row .row [class^="col-"] {
    background-color: hotpink;
}

[class^="col-"] {
    height: 100%;
    background-color: pink;
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    line-height: 100px;
}

.col-1  {width: calc((100% / 12) * 1 );}
.col-2  {width: calc((100% / 12) * 2 );}
.col-3  {width: calc((100% / 12) * 3 );}
.col-4  {width: calc((100% / 12) * 4 );}
.col-5  {width: calc((100% / 12) * 5 );}
.col-6  {width: calc((100% / 12) * 6 );}
.col-7  {width: calc((100% / 12) * 7 );}
.col-8  {width: calc((100% / 12) * 8 );}
.col-9  {width: calc((100% / 12) * 9 );}
.col-10 {width: calc((100% / 12) * 10);}
.col-11 {width: calc((100% / 12) * 11);}
.col-12 {width: calc((100% / 12) * 12);}
/* OFFSET */
.col-offset-1  {margin-left: calc((100% / 12) * 1 );}
.col-offset-2  {margin-left: calc((100% / 12) * 2 );}
.col-offset-3  {margin-left: calc((100% / 12) * 3 );}
.col-offset-4  {margin-left: calc((100% / 12) * 4 );}
.col-offset-5  {margin-left: calc((100% / 12) * 5 );}
.col-offset-6  {margin-left: calc((100% / 12) * 6 );}
.col-offset-7  {margin-left: calc((100% / 12) * 7 );}
.col-offset-8  {margin-left: calc((100% / 12) * 8 );}
.col-offset-9  {margin-left: calc((100% / 12) * 9 );}
.col-offset-10 {margin-left: calc((100% / 12) * 10);}
.col-offset-11 {margin-left: calc((100% / 12) * 11);}
.col-offset-12 {margin-left: calc((100% / 12) * 12);}


.col-offset-right-1  {margin-right: calc((100% / 12) * 1 );}
.col-offset-right-2  {margin-right: calc((100% / 12) * 2 );}
.col-offset-right-3  {margin-right: calc((100% / 12) * 3 );}
.col-offset-right-4  {margin-right: calc((100% / 12) * 4 );}
.col-offset-right-5  {margin-right: calc((100% / 12) * 5 );}
.col-offset-right-6  {margin-right: calc((100% / 12) * 6 );}
.col-offset-right-7  {margin-right: calc((100% / 12) * 7 );}
.col-offset-right-8  {margin-right: calc((100% / 12) * 8 );}
.col-offset-right-9  {margin-right: calc((100% / 12) * 9 );}
.col-offset-right-10 {margin-right: calc((100% / 12) * 10);}
.col-offset-right-11 {margin-right: calc((100% / 12) * 11);}
.col-offset-right-12 {margin-right: calc((100% / 12) * 12);}