body{
    font-family: 'Fira Sans', sans-serif;
}

/* struttura generale pagina */
.container>.top-child-container{
    background-color: #009999;
    height: calc(100vh - 85vh);
}

.container .child-container{
    height: calc(100vh - 15vh);
    background-color: rgb(215, 226, 215);
}

.container .child-container > .child-app-container{
    height: 90%;
    position: fixed;
    top: calc(100vh - 95%);
    bottom: calc(100vh - 90%);
    background-color: #f8f7f7;
}

.container .child-container > .child-app-container > .child-app-container-item-left,
.container .child-container > .child-app-container > .child-app-container-item-right{
    height: 100%;
    display: inline-block;
    background-color: teal;
}

.container .child-container > .child-app-container > .child-app-container-item-right{
    float: right;
}/* FINE struttura generale pagina */

/* struttura esterna centrale lato sinistro */
.app-item-child-top{
    height: calc(100% - 90%);
    background-color: #f3eeea;
   /*  background-color: #e2e0df; */
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.app-item-child-center{
    height: calc(100% - 90%);
    background-color: #8edafc;
    justify-content: space-evenly;
    align-items: center;
}

.app-item-child-center-second{
    height: calc(100% - 90%);
    background-color: #fff;
}

.app-item-child-bottom{
    height: calc(100% - 30%);
    background-color: #fff;
}

/* struttura esterna centrale lato destro */
.app-item-child-top-right{
    height: calc(100% - 90%);
    background-color: #f3eeea;
}

.app-item-child-center-right{
    height: calc(100% - 20%);
    background-color: white;
}

.app-item-child-bottom-right{
    height: calc(100% - 90%);
    background-color: #f3eeea;
}



/* struttura interna centrale lato sinistro */
.app-item-child-top img{
    width: 50px;
}

.app-item-child-top i{
    /* font-size: 25px; */
    padding: 6px;
    color: #637383;
}

.app-item-child-center .testo-notifica p:last-child{
    color: #637383;
    text-decoration: underline;
}

.app-item-child-center i{
    font-size: 30px;
    padding-right: 20px;
}

.barra-ricerca{
    width: 100%;
}

.barra-ricerca > input{
    width: 90%;
}

.app-item-child-center-second>div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    /* background: antiquewhite; */
   /*  border: 1px solid; */
    margin: 10px;
}

.app-item-child-center-second i{
    font-size: 25px;
}

.app-item-child-center-second input{
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 10px;
    font-size: 18px;
}

.scroll{
    overflow-y: scroll;
    width: 100%;
}

.scroll-icon{
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 1px 0;
    padding: 35px 0;
}

.scroll-icon img{
    width: 50px;
}

.stato,.scroll-icon div:last-child{
    color: #637383;
    font-weight: 300;
}

/* struttura interna centrale lato destro */
.app-item-child-top-right{
    justify-content: space-between;
}

.app-item-child-top-right .icon-item{
    width: 50%;
    align-items: center;
}

.app-item-child-top-right .icon-item .allineamento{
    margin-top: 19px;
}

.app-item-child-top-right .icon-item.left{
    justify-content: space-evenly;
}

.app-item-child-top-right > .icon-item img{
    width: 50px;
}

.app-item-child-top-right .icon-item.right{
    justify-content: flex-end;
}
.app-item-child-top-right .icon-item.right i{
    padding: 8px;
    margin-right: 10px;
    color: #637383;
}

.app-item-child-center-right{
    overflow-y: scroll;
    background-image: url('https://i.redd.it/qwd83nc4xxf41.jpg');
}

.app-item-child-bottom-right{
    align-items: center;
    justify-content: space-evenly;
}

.app-item-child-bottom-right div:first-child,
.app-item-child-bottom-right div:last-child{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.app-item-child-bottom-right div:nth-child(2){
    display: flex;
    justify-content: center;
    width: 60%;
}

.app-item-child-bottom-right div:nth-child(2) input{
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 10px;
}

.app-item-child-bottom-right i{
    font-size: 30px;
    color: #637383;
}


/* evento dinamico */
/* .mostra{
    display: inline-block;
}

.mostra{
    width: 25%;
    height: 50px;
    margin: 40px;
    background: #f3eeea;
    border-radius: 4px;
    float: right;
    clear: both;
    padding: 10px;
    background-color: #ccffcc;
    position: relative;
}

#mostra-orario{
    width: 30%;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#mostraRandom{
    width: 25%;
    height: 50px;
    margin: 40px;
    border-radius: 4px;
    float: left;
    clear: both;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}

#mostra-orario-random{
    background-color: #637383;
    width: 30%;
    height: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nascondi{
    display: none;
} 
 */

 .nascondi{
    display: none;
} 
.message{
    width: 100px;
    height: 100px;
    position: relative;
}

.inviato,.ricevuto{
    width: 25%;
    height: 60px;
    margin: 20px;
    border-radius: 7px;
    padding: 10px;
}

.inviato {
    background-color: #ccffcc;
    float: right;
    clear: both;
}

.ricevuto {
    background-color: #fff;
    float: left;
    clear: both;
}

.orario{
    position: absolute;
    background: transparent;
    /* width: 25%; */
    height: 30%;
    right: 0;
    bottom: 0;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 5px;
}

.app-item-child-center-right{
    display: none;
}

.active{
    display: block;
}

.active-utente{
    color: teal;
}

.contact-element{
    transition: 0.2s;
}

.contact-element:hover{
    background-color: rgb(211, 208, 208);
}






/* .color1{
    background-color: red;
}

.color2{
    background-color: tomato;
}

.color3{
    background-color: teal;
}

.color4{
    background-color: rosybrown;
} */

/* word-wrap: break-word; */
